#{extends 'main.html' /}
#{set title:'add subject' /}
	<h2>Basic Form</h2>
	<div class="demo-info">
		<div class="demo-tip icon-tip"></div>
		<div>Fill the form and submit it.</div>
	</div>
	<div style="margin:10px 0;"></div>
	<div class="easyui-panel" title="New Topic" style="width:800px">
		<div style="padding:10px 0 10px 60px">
	    <form id="ff" method="post" action="/admin/subject/create">
	    	<table>
	    		<tr style="width:700px">
	    			<td>题目:</td>
	    			<td><textarea name="title" style="width:600px；height:60px;"></textarea></td>
	    		</tr>
	    		<tr>
	    			<td>选项:</td>
	    			<td><input class="easyui-validatebox" type="text" name="option" ></input></td>
	    		</tr>
	    		<tr>
	    			<td>解答:</td>
	    			<td><textarea name="solution" style="width:600px；height:60px;"></textarea></td>
	    		</tr>
	    	</table>
	    </form>
	    </div>
	    <div style="text-align:center;padding:5px">
	    	<a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">Submit</a>
	    	<a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">Clear</a>
	    </div>
	</div>
	<script>
		function submitForm(){
			$('#ff').form('submit');
		}
		function clearForm(){
			$('#ff').form('clear');
		}
	</script>