* { padding: 0; margin: 0; font:12px/1.5; font-family: Microsoft YaHei,微软雅黑,arial,helvetica,sans-serif; }
a{ color: #ababab; text-decoration: none; }
a:hover, a:active, a:focus{ color: #5e5e5e; text-decoration: underline; }

#main { width: 980px; margin: 4px auto; }

.user-page h2 { font-size: 18px; padding: 8px; margin-bottom: 18px; border-bottom: 2px solid #e0e0e0; color: #676767; font-weight: bold; }
.user-page p { margin: 4px 4px 8px; height: 28px; clear: both;}
.user-page p.validate-error input { border: 1px solid #F33; }
.user-page p.validate-error span.edit { color: #F33; }
.user-page p.validate-error span.desc { color: #F33; }
.user-page p input { font-size: 16px; padding: 0 4px; line-height: 30px; text-align: left; float: left; color: #3b3b3b; border: 1px solid #c8c8c8; margin-right: 10px; width: 208px; }
.user-page p input.error { font-size: 16px; padding: 0 4px; line-height: 30px; text-align: left; float: left; color: #3b3b3b; border: 1px groove #F00; margin-right: 10px; width: 208px; }
.user-page p input.w380 { width: 380px; }
.user-page p select { font-size: 16px; line-height: 30px; text-align: left; float: left; color: #3b3b3b; border: 1px solid #c8c8c8; margin-right: 10px; margin-top: 4px; width: 219px; }
.user-page p label { font-size: 16px; line-height: 30px; width: 120px; text-align: right; float: left; color: #afafaf; }
.user-page p span { font-size: 16px; line-height: 30px; text-align: left; float: left; color: #3b3b3b; }
.user-page p.error-lab { margin: -12px 5px 5px; line-height: 18px; height: 18px; font-size: 12px; padding-left: 120px; text-align: left; color: #ababab; color: #F00; font-size: 14px; }
.user-page p span.edit { color: #ababab; }
.user-page p span.desc { margin: 5px 5px 0px; line-height: 18px; height: 18px; font-size: 12px; padding-left: 50px; text-align: left; color: #ababab; }x; text-align: left; color: #ababab; }
