<!DOCTYPE html>
<html lang="zh-CN" class="default-layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="icon" type="image/vnd.microsoft.icon"
	href="http://ytk.fbcontent.cn/s/c34fd141-favicon.ico">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<title>智题</title>

<link rel="stylesheet"
	href="http://ytk.fbcontent.cn/s/1f1a251a-Main.css">

<!--[if lte IE 8]><link id="ie8Hack" rel="stylesheet" href="http://ytk.fbcontent.cn/s/70fb8b0f-lte-ie8.css"/><![endif]-->
<!--[if lte IE 7]><link id="ie7Hack" rel="stylesheet" href="http://ytk.fbcontent.cn/s/60ab7240-lte-ie7.css"/><![endif]-->
<!--[if gte IE 9]><link id="ie9Hack" rel="stylesheet" href="http://ytk.fbcontent.cn/s/26d1828d-gte-ie9.css"/><![endif]-->

</head>
<body data-environment="production" data-page-name="Exercise">
	<div class="wrap">
		<div class="repeat-x default-t">
			<div class="header-left layout default-lt"></div>
			<div class="header-right layout default-rt"></div>
		</div>
		<div class="default-left repeat-y default-l"></div>
		<div class="default-right repeat-y default-r"></div>
		<div class="header">
			<div class="navbar-hd clearfix">
				<div class="pull-right navbar-links">
					<a class="mobile-link"
						href="javascript:void(0)"> <span
						class="sprite sprite-mobile-gray i-20"></span> 手机客户端
					</a> <a href="javascript:void(0)"
						class="user-nav user-menu-trigger"> <span
						class="sprite sprite-profile i-20"></span> <span
						class="sprite sprite-profile-tip"> <span class="email">用户xxxxxx</span>
							<span class="sprite sprite-profile-tip-arrow"></span>
					</span>
					</a>
				</div>
			</div>
			<div class="navbar-bd">
				<div class="container">
					<div class="course-logo"></div>
					<ul class="nav main-nav">
						<li class="fir-wrap"><a href="javascript:void(0)"
							class="fir-wrap"> <span class="fir fir-header-exercise"><span
									class="fir-text">练习做题</span></span>
						</a></li>
					</ul>
				</div>
			</div>
			<span class="repeat-x header-shadow-repeat header-shadow-repeat-l"></span>
			<div class="header-shadow"></div>
			<span class="repeat-x header-shadow-repeat header-shadow-repeat-r"></span>
		</div>
		<div class="container body-wrap main">
			<div class="exercise-wrap" data-user-answers="null" data-answers="{}"
				data-id="2747373" data-system-time="1375277137048"
				data-sheet-question-count="15" data-status="-1"
				data-elapsed-time="0" data-sheet-time="0"
				data-current-chapter-index="0" data-sheet-type="3" data-version="0"
				data-sheet-name="">
				<div class="box-inner-wrap sidebar-wrap">
					<div class="sprite sprite-box-inner-lt"></div>
					<div class="repeat-x box-inner-t"></div>
					<div class="sprite sprite-box-inner-rt"></div>
					<div class="repeat-y box-inner-r"></div>
					<div class="sprite sprite-box-inner-rb"></div>
					<div class="repeat-y box-inner-l"></div>
					<div class="sprite sprite-box-inner-lb"></div>
					<div class="repeat-x box-inner-b"></div>
					<div class="box-inner">
						<div class="sidebar">
							<div class="side-top sprite sprite-side-top-bg">
								<span class="sprite sprite-clock"></span> <span class="text">已用时</span>
								<span class="timer">05:37</span>
							</div>
							<ul class="nav">
								<li class="pause">暂停</li>
								<li class="commit-exercise">我要交卷</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="box-inner-wrap paper-wrap">
					<div class="sprite sprite-box-inner-lt"></div>
					<div class="repeat-x box-inner-t"></div>
					<div class="sprite sprite-box-inner-rt"></div>
					<div class="repeat-y box-inner-r"></div>
					<div class="sprite sprite-box-inner-rb"></div>
					<div class="repeat-y box-inner-l"></div>
					<div class="sprite sprite-box-inner-lb"></div>
					<div class="repeat-x box-inner-b"></div>
					<div class="box-inner">
						<div class="exercise-hd">
							<h1 class="sheet-name">快速智能练习</h1>
							<div class="split-box last">
								<span class="sprite sprite-box-split-l"></span><span
									class="repeat-x box-split"></span><span
									class="sprite sprite-box-split-r"></span>
							</div>
						</div>
						<div class="exercise-bd">
							<div class="placeholder">
								<h1 class="sheet-name">快速智能练习</h1>

								<div class="split-box last">
									<span class="sprite sprite-box-split-l"></span><span
										class="repeat-x box-split"></span><span
										class="sprite sprite-box-split-r"></span>
								</div>
							</div>
							<div class="chapter-desc-list"></div>
							<div class="chapter-wrap">
								<div class="question-wrap" data-id="37131"
									data-question-index="0" data-is-multiple="false"
									data-collected="false" id="question0">
									<div class="question">
										<div class="content clearfix">
											<div class="index pull-left">1</div>
											<div class="overflow">
												<p>股份有限公司是指由一定人数以上的股东组成，其全部资本分为等额股份，股东只就其所认股份即出资额对公司承担有限责任，公司只以其全部资产对公司债务承担责任的公司。</p>
												<p>下列情况属于股份有限公司的是（ &nbsp;）</p>
											</div>
										</div>
										<div class="options">
											<div class="option">
												<span class="lbl">A.</span> 甲公司和乙公司门前一片草地无人看管护理，便协商由两公司各负责一年
											</div>
											<div class="option">
												<span class="lbl">B.</span>
												甲公司进行改组，将全部资本分为五万股，由职工认购，并改名为“××有限责任公司”
											</div>
											<div class="option">
												<span class="lbl">C.</span> 由原电子部下属的科研所改制成立国家控股的科研开发中心
											</div>
											<div class="option">
												<span class="lbl">D.</span> 小张、小王和村里的其他人一起建起了一所村小学
											</div>

										</div>
										<ul class="answers">
											<li class="answer" data-answer-index="0"><span
												class="answer-radio i-20"></span> A</li>
											<li class="answer" data-answer-index="1"><span
												class="answer-radio i-20"></span> B</li>
											<li class="answer" data-answer-index="2"><span
												class="answer-radio i-20"></span> C</li>
											<li class="answer" data-answer-index="3"><span
												class="answer-radio i-20"></span> D</li>
										</ul>
									</div>
								</div>
								<div class="split-box">
									<span class="sprite sprite-box-split-l"></span><span
										class="repeat-x box-split"></span><span
										class="sprite sprite-box-split-r"></span>
								</div>
								<div class="split-box">
									<span class="sprite sprite-box-split-l"></span><span
										class="repeat-x box-split"></span><span
										class="sprite sprite-box-split-r"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
</body>
</html>