<!DOCTYPE html>
<html class="default-layout" lang="zh-CN">
<head>
<link rel="icon" type="image/vnd.microsoft.icon"
	href="http://ytk.fbcontent.cn/s/c34fd141-favicon.ico">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<title>快速智能练习</title>
<link rel="stylesheet" href="http://ytk.fbcontent.cn/s/4f3e9931-Main.css">
<!--[if lte IE 8]><link id="ie8Hack" rel="stylesheet" href="http://ytk.fbcontent.cn/s/70fb8b0f-lte-ie8.css"/><![endif]-->
<!--[if lte IE 7]><link id="ie7Hack" rel="stylesheet" href="http://ytk.fbcontent.cn/s/f5298ff9-lte-ie7.css"/><![endif]-->
<!--[if gte IE 9]><link id="ie9Hack" rel="stylesheet" href="http://ytk.fbcontent.cn/s/26d1828d-gte-ie9.css"/><![endif]-->
</head>
<body data-environment="production" data-page-name="ExerciseReport">
	<div class="wrap">
		<div class="repeat-x default-t">
			<div class="header-left layout default-lt"></div>
			<div class="header-right layout default-rt"></div>
		</div>
		<div class="default-left repeat-y default-l"></div>
		<div class="default-right repeat-y default-r"></div>
		<div class="header">
			<div class="navbar-hd clearfix">
				<div class="pull-right navbar-links">
					<a class="mobile-link" 
						href="javascript:void(0)"> <span
						class="sprite sprite-mobile-gray i-20"></span> 手机客户端
					</a> <a href="javascript:void(0)" class="user-nav user-menu-trigger"> <span
						class="sprite sprite-profile i-20"></span> <span
						class="sprite sprite-profile-tip"> <span class="email">用户xxxxxx</span>
							<span class="sprite sprite-profile-tip-arrow"></span>
					</span>
					</a>
				</div>
			</div>
			<div class="navbar-bd">
				<div class="container">
					<ul class="nav main-nav">
						<li class="fir-wrap"><a href="javascript:void(0)"
							class="fir-wrap"> <span class="fir fir-header-exercise"><span
									class="fir-text">练习与模考</span></span>
						</a></li>
					</ul>
				</div>
			</div>

			<span class="repeat-x header-shadow-repeat header-shadow-repeat-l"></span>
			<div class="header-shadow"></div>
			<span class="repeat-x header-shadow-repeat header-shadow-repeat-r"></span>
		</div>
		<div class="container body-wrap main">
			<div
				class="exercise-wrap exercise-report-wrap keypoint-exercise-report-wrap">
				<div class="box-inner-wrap sidebar-wrap">
					<div class="sprite sprite-box-inner-lt"></div>
					<div class="repeat-x box-inner-t"></div>
					<div class="sprite sprite-box-inner-rt"></div>
					<div class="repeat-y box-inner-r"></div>
					<div class="sprite sprite-box-inner-rb"></div>
					<div class="repeat-y box-inner-l"></div>
					<div class="sprite sprite-box-inner-lb"></div>
					<div class="repeat-x box-inner-b"></div>
					<div class="box-inner">
						<div class="sidebar">
							<div class="side-top sprite sprite-side-top-bg">
								<span class="sprite sprite-report"></span>
							</div>
							<ul class="nav">
								<li class="active"><a
									href="javascript:void(0)">查看报告</a></li>
								<li class="last"><a
									href="javascript:void(0)">查看解析</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="box-inner-wrap paper-wrap">
					<div class="sprite sprite-box-inner-lt"></div>
					<div class="repeat-x box-inner-t"></div>
					<div class="sprite sprite-box-inner-rt"></div>
					<div class="repeat-y box-inner-r"></div>
					<div class="sprite sprite-box-inner-rb"></div>
					<div class="repeat-y box-inner-l"></div>
					<div class="sprite sprite-box-inner-lb"></div>
					<div class="repeat-x box-inner-b"></div>
					<div class="box-inner">
						<div class="exercise-bd">
							<div class="report-info text-small">
								<p>当前练习：快速智能练习</p>
								<p>交卷时间：2013年8月10日 22:42</p>
							</div>
							<div class="report-score clearfix">
								<div class="score">
									<div class="score-container">
										<p class="text-small muted">本次练习 15 道，你答对了：</p>
										<p class="text-blue">
											<span class="text-xxlarge">${correctCnt}</span> &nbsp;&nbsp;道
										</p>
									</div>
								</div>
								<div class="answer-sheet-container">
									<br>
									<div class="answer-sheet-wrap sheet-wrap">
										<div class="answer-sheet columns-5">
											<a class="col-1  question sprite sprite-answer-correct"
												href="javascript:void(0)">
												1 </a> <a class="col-2  question sprite sprite-answer-incorrect"
												href="javascript:void(0)">
												2 </a>
										</div>
									</div>
								</div>
							</div>
							<div class="split-box">
								<span class="sprite sprite-box-split-l"></span><span
									class="repeat-x box-split"></span><span
									class="sprite sprite-box-split-r"></span>
							</div>
							<div class="report-section">
								<h3 class="text-label text-label-green">
									<span class="text-label-inner bold">涉及章节</span>
								</h3>
								<div class="keypoint-list clearfix">
									<p class="keypoint-item-wrap pull-left word-info"
										data-keypoint-id="2051">
										<span class="slide-keypoint-blue-left slide"> <span
											class="slide slide-keypoint-blue-right">法的运行</span>
										</span>
									</p>
									<p class="keypoint-item-wrap pull-left word-info"
										data-keypoint-id="1795">
										<span class="slide-keypoint-blue-left slide"> <span
											class="slide slide-keypoint-blue-right">法的本体</span>
										</span>
									</p>
									<p class="keypoint-item-wrap pull-left word-info"
										data-keypoint-id="2563">
										<span class="slide-keypoint-blue-left slide"> <span
											class="slide slide-keypoint-blue-right">法与社会</span>
										</span>
									</p>
									<p class="keypoint-item-wrap pull-left word-info"
										data-keypoint-id="2307">
										<span class="slide-keypoint-blue-left slide"> <span
											class="slide slide-keypoint-blue-right">法的演进</span>
										</span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>